.dv1{
    width: 200px;
    height: 100px;
    background-color: rgb(47, 169, 173);
    animation-name: change;
    animation-duration: 3s;
    position: absolute; 
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes change{
  0%{
    background-color: rgb(160, 239, 212);
    left: 0;

  }

  50%{
    background-color:rgb(151, 234, 237);

  }

  100%{
    background-color:rgb(23, 84, 86);
    left: 1000px;
  }
}
/* ///////////////////////////div2/////////////////////// */
.dv2{
    width: 200px;
    height: 100px;
    background-color: rgb(47, 169, 173);
    animation-name: change1;
    animation-duration: 3s;
    animation-delay: 3s;
    top: 150px;
    position: absolute;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
}
@keyframes change1{
  0%{
    left: 1000px;
  }
  50%{
    background-color: rgb(151, 234, 237);
  }
  100%{
    background-color: rgb(23, 84, 86);
    left: 0;
  }
}
/*////////////////////div2//////////////////  */
.dv3{
    width: 200px;
    height: 100px;
    background-color: rgb(47, 169, 173);
    animation-name: change2;
    animation-duration: 3s;
    animation-delay: 6s;
    top: 300px;
    position: absolute;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes change2{
  0%{
    left: 0;
  }
  25%{
  }
  50%{
    background-color: rgb(151, 234, 237);
  }
  75%{
 
  }
  100%{
    background-color: rgb(23, 84, 86);
    left: 1000px;
  }
}

/* /////////////div3///////////////////////// */
.dv4{
    width: 200px;
    height: 100px;
    background-color: rgb(47, 169, 173);
    animation-name: change3;
    animation-duration: 3s;
    animation-delay: 9s;
    top: 450px;
    position: absolute;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
}
@keyframes change3{
  0%{
    left: 1000px;
  }
  25%{
  }
  50%{
    background-color: rgb(151, 234, 237);
  }
  75%{
 
  }
  100%{
    background-color: rgb(23, 84, 86);
    left: 0;

  }
}
/* //////////////////////////dv5///////////////////// */
.dv5{
    width: 200px;
    height: 100px;
    background-color: rgb(47, 169, 173);
    animation-name: change4;
    animation-duration: 3s;
    animation-delay: 12s;
    top: 600px;
    position: absolute;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes change4{
  0%{
    left: 0;
  }
  25%{
  }
  50%{
    background-color: rgb(151, 234, 237);
  }
  75%{
 
  }
  100%{
    background-color: rgb(23, 84, 86);
    left: 1000px;
  }
}
/* //////////////////////div6///////////////////// */

.dv6{
    width: 200px;
    height: 100px;
    background-color: rgb(47, 169, 173);
    animation-name: change5;
    animation-duration: 3s;
    animation-delay: 15s;
    top: 750px;
    position: absolute;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
}
@keyframes change5{
  0%{
    left: 1000px;
  }
  25%{
  }
  50%{
    background-color: rgb(151, 234, 237);
  }
  75%{
 
  }
  100%{
    left: 0;
    background-color: rgb(23, 84, 86);
  }
}